openapi: 3.0.3
info:
  title: Multimodal RAG Evaluation Service API
  description: |
    Evaluation Service for calculating RAG Triad metrics, custom evaluations, and quality assessment.

    ## Features
    - RAG Triad metrics (Answer Relevancy, Faithfulness, Contextual Relevancy)
    - Custom evaluation frameworks
    - Batch evaluation processing
    - Quality threshold management
    - Performance benchmarking
    - Real-time metric calculation
    - Statistical analysis and reporting

    ## Authentication
    All endpoints require JWT authentication with valid organization and user context.

    ## Rate Limiting
    - Standard endpoints: 100 requests/minute
    - Batch endpoints: 10 requests/minute
    - Export endpoints: 5 requests/minute

  version: 1.0.0
  contact:
    name: RAG Evaluation Team
    email: evaluation@multimodal-rag.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.multimodal-rag.com/evaluation/v1
    description: Production server
  - url: https://staging-api.multimodal-rag.com/evaluation/v1
    description: Staging server
  - url: http://localhost:8082/v1
    description: Development server

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check endpoint
      description: Returns service health status and basic metrics
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /metrics/rag-triad:
    post:
      tags:
        - RAG Metrics
      summary: Calculate RAG Triad metrics
      description: |
        Calculates the three core RAG evaluation metrics:
        - Answer Relevancy: Measures how relevant the generated answer is to the query
        - Faithfulness: Measures factual consistency of the answer with retrieved context
        - Contextual Relevancy: Measures relevance of retrieved context to the query

        Supports both real-time and batch evaluation modes.
      operationId: calculateRAGTriadMetrics
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RAGTriadEvaluationRequest'
      responses:
        '200':
          description: RAG Triad metrics calculated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAGTriadEvaluationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /metrics/rag-triad/batch:
    post:
      tags:
        - RAG Metrics
      summary: Batch calculate RAG Triad metrics
      description: |
        Processes multiple RAG evaluations in batch mode.
        Optimized for large-scale evaluation with asynchronous processing.
        Returns a job ID for tracking progress.
      operationId: batchCalculateRAGTriadMetrics
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRAGTriadRequest'
      responses:
        '202':
          description: Batch job accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /metrics/custom:
    post:
      tags:
        - Custom Metrics
      summary: Calculate custom evaluation metrics
      description: |
        Calculates custom evaluation metrics based on user-defined criteria.
        Supports various metric types including semantic similarity, coherence, completeness.
      operationId: calculateCustomMetrics
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomMetricsRequest'
      responses:
        '200':
          description: Custom metrics calculated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomMetricsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /metrics/benchmark:
    post:
      tags:
        - Benchmarking
      summary: Run performance benchmarks
      description: |
        Runs comprehensive performance benchmarks including:
        - Response time analysis
        - Throughput testing
        - Quality vs performance trade-offs
        - Resource utilization metrics
      operationId: runPerformanceBenchmark
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenchmarkRequest'
      responses:
        '200':
          description: Benchmark completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenchmarkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /thresholds:
    get:
      tags:
        - Thresholds
      summary: List quality thresholds
      description: Retrieves all quality threshold configurations for the organization
      operationId: listQualityThresholds
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationIdParam'
        - $ref: '#/components/parameters/MetricTypeParam'
        - $ref: '#/components/parameters/EnabledOnlyParam'
      responses:
        '200':
          description: Quality thresholds retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityThresholdsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Thresholds
      summary: Create quality threshold
      description: Creates a new quality threshold configuration
      operationId: createQualityThreshold
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQualityThresholdRequest'
      responses:
        '201':
          description: Quality threshold created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityThresholdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /thresholds/{thresholdId}:
    get:
      tags:
        - Thresholds
      summary: Get quality threshold
      description: Retrieves a specific quality threshold by ID
      operationId: getQualityThreshold
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ThresholdIdParam'
      responses:
        '200':
          description: Quality threshold retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityThresholdResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Thresholds
      summary: Update quality threshold
      description: Updates an existing quality threshold configuration
      operationId: updateQualityThreshold
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ThresholdIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQualityThresholdRequest'
      responses:
        '200':
          description: Quality threshold updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityThresholdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Thresholds
      summary: Delete quality threshold
      description: Deletes a quality threshold configuration
      operationId: deleteQualityThreshold
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ThresholdIdParam'
      responses:
        '204':
          description: Quality threshold deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /jobs/{jobId}:
    get:
      tags:
        - Jobs
      summary: Get batch job status
      description: Retrieves the status and progress of a batch evaluation job
      operationId: getBatchJobStatus
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobIdParam'
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /jobs/{jobId}/results:
    get:
      tags:
        - Jobs
      summary: Get batch job results
      description: Retrieves the results of a completed batch evaluation job
      operationId: getBatchJobResults
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobIdParam'
        - $ref: '#/components/parameters/ResultsFormatParam'
        - $ref: '#/components/parameters/ResultsLimitParam'
      responses:
        '200':
          description: Job results retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobResultsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Job not completed yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /reports:
    get:
      tags:
        - Reports
      summary: List evaluation reports
      description: Retrieves a list of evaluation reports with filtering options
      operationId: listEvaluationReports
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationIdParam'
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/MetricTypeParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Reports retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationReportsResponse'

    post:
      tags:
        - Reports
      summary: Generate evaluation report
      description: Generates a comprehensive evaluation report with specified parameters
      operationId: generateEvaluationReport
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateReportRequest'
      responses:
        '202':
          description: Report generation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportGenerationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /reports/{reportId}/export:
    get:
      tags:
        - Reports
      summary: Export evaluation report
      description: Exports an evaluation report in specified format
      operationId: exportEvaluationReport
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ReportIdParam'
        - $ref: '#/components/parameters/ExportFormatParam'
      responses:
        '200':
          description: Report exported successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'

  /alerts:
    get:
      tags:
        - Alerts
      summary: List quality alerts
      description: Retrieves quality alerts with filtering options
      operationId: listQualityAlerts
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationIdParam'
        - $ref: '#/components/parameters/AlertSeverityParam'
        - $ref: '#/components/parameters/AlertStatusParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Alerts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityAlertsResponse'

  /alerts/{alertId}/acknowledge:
    post:
      tags:
        - Alerts
      summary: Acknowledge quality alert
      description: Acknowledges a quality alert to mark it as seen
      operationId: acknowledgeQualityAlert
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AlertIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcknowledgeAlertRequest'
      responses:
        '200':
          description: Alert acknowledged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityAlertResponse'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token with organization and user claims

  parameters:
    OrganizationIdParam:
      name: organizationId
      in: query
      description: Organization ID filter
      required: false
      schema:
        type: string
        format: uuid

    MetricTypeParam:
      name: metricType
      in: query
      description: Metric type filter
      required: false
      schema:
        type: string
        enum:
          - answer_relevancy
          - faithfulness
          - contextual_relevancy
          - response_time
          - semantic_similarity
          - coherence
          - completeness

    EnabledOnlyParam:
      name: enabledOnly
      in: query
      description: Filter enabled thresholds only
      required: false
      schema:
        type: boolean
        default: true

    ThresholdIdParam:
      name: thresholdId
      in: path
      description: Quality threshold ID
      required: true
      schema:
        type: string
        format: uuid

    JobIdParam:
      name: jobId
      in: path
      description: Batch job ID
      required: true
      schema:
        type: string
        format: uuid

    ResultsFormatParam:
      name: format
      in: query
      description: Results format
      required: false
      schema:
        type: string
        enum:
          - json
          - csv
          - parquet
        default: json

    ResultsLimitParam:
      name: limit
      in: query
      description: Maximum number of results to return
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 1000

    StartTimeParam:
      name: startTime
      in: query
      description: Start time filter (ISO 8601)
      required: false
      schema:
        type: string
        format: date-time

    EndTimeParam:
      name: endTime
      in: query
      description: End time filter (ISO 8601)
      required: false
      schema:
        type: string
        format: date-time

    LimitParam:
      name: limit
      in: query
      description: Pagination limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    OffsetParam:
      name: offset
      in: query
      description: Pagination offset
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0

    ReportIdParam:
      name: reportId
      in: path
      description: Report ID
      required: true
      schema:
        type: string
        format: uuid

    ExportFormatParam:
      name: format
      in: query
      description: Export format
      required: false
      schema:
        type: string
        enum:
          - pdf
          - excel
          - csv
          - json
        default: pdf

    AlertSeverityParam:
      name: severity
      in: query
      description: Alert severity filter
      required: false
      schema:
        type: string
        enum:
          - low
          - medium
          - high
          - critical

    AlertStatusParam:
      name: status
      in: query
      description: Alert status filter
      required: false
      schema:
        type: string
        enum:
          - active
          - acknowledged
          - resolved

    AlertIdParam:
      name: alertId
      in: path
      description: Alert ID
      required: true
      schema:
        type: string
        format: uuid

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        uptime:
          type: integer
          description: Uptime in seconds
        checks:
          type: object
          description: Health check results for dependencies
          additionalProperties:
            $ref: '#/components/schemas/HealthCheck'

    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum:
            - pass
            - fail
            - warn
        message:
          type: string
        response_time_ms:
          type: number

    RAGTriadEvaluationRequest:
      type: object
      required:
        - query
        - answer
        - context
      properties:
        query:
          type: string
          description: The original query/question
          minLength: 1
          maxLength: 10000
        answer:
          type: string
          description: The generated answer to evaluate
          minLength: 1
          maxLength: 50000
        context:
          type: array
          description: Retrieved context documents
          items:
            $ref: '#/components/schemas/ContextDocument'
        evaluation_config:
          $ref: '#/components/schemas/EvaluationConfig'
        metadata:
          type: object
          description: Additional metadata for the evaluation
          additionalProperties: true

    ContextDocument:
      type: object
      required:
        - content
        - document_id
      properties:
        content:
          type: string
          description: Document content text
        document_id:
          type: string
          description: Unique document identifier
        relevance_score:
          type: number
          description: Relevance score from retrieval
          minimum: 0
          maximum: 1
        source:
          type: string
          description: Document source or type
        metadata:
          type: object
          additionalProperties: true

    EvaluationConfig:
      type: object
      properties:
        language:
          type: string
          description: Language code for evaluation
          default: en
        model_name:
          type: string
          description: Model to use for evaluation
          default: gpt-4
        temperature:
          type: number
          description: Temperature for evaluation model
          minimum: 0
          maximum: 2
          default: 0.1
        include_explanations:
          type: boolean
          description: Include detailed explanations for scores
          default: false
        custom_criteria:
          type: object
          description: Custom evaluation criteria
          additionalProperties:
            type: object
            properties:
              weight:
                type: number
                minimum: 0
                maximum: 1
              description:
                type: string

    RAGTriadEvaluationResponse:
      type: object
      required:
        - evaluation_id
        - metrics
        - timestamp
      properties:
        evaluation_id:
          type: string
          format: uuid
        query:
          type: string
        metrics:
          type: object
          properties:
            answer_relevancy:
              $ref: '#/components/schemas/AnswerRelevancyMetric'
            faithfulness:
              $ref: '#/components/schemas/FaithfulnessMetric'
            contextual_relevancy:
              $ref: '#/components/schemas/ContextualRelevancyMetric'
        overall_score:
          type: number
          description: Weighted overall score
          minimum: 0
          maximum: 1
        timestamp:
          type: string
          format: date-time
        evaluation_time_ms:
          type: number
          description: Time taken for evaluation in milliseconds
        explanations:
          type: object
          description: Detailed explanations for scores
          additionalProperties:
            type: string
        threshold_violations:
          type: array
          items:
            $ref: '#/components/schemas/ThresholdViolation'

    AnswerRelevancyMetric:
      type: object
      required:
        - score
      properties:
        score:
          type: number
          description: Answer relevancy score (0-1)
          minimum: 0
          maximum: 1
        explanation:
          type: string
        supporting_evidence:
          type: array
          items:
            type: string
        confidence:
          type: number
          description: Confidence in the score
          minimum: 0
          maximum: 1

    FaithfulnessMetric:
      type: object
      required:
        - score
      properties:
        score:
          type: number
          description: Faithfulness score (0-1)
          minimum: 0
          maximum: 1
        explanation:
          type: string
        contradictions:
          type: array
          items:
            type: string
        unsupported_claims:
          type: array
          items:
            type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1

    ContextualRelevancyMetric:
      type: object
      required:
        - score
      properties:
        score:
          type: number
          description: Contextual relevancy score (0-1)
          minimum: 0
          maximum: 1
        explanation:
          type: string
        relevant_contexts:
          type: array
          items:
            type: string
        irrelevant_contexts:
          type: array
          items:
            type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1

    ThresholdViolation:
      type: object
      required:
        - metric_type
        - threshold_value
        - actual_value
        - severity
      properties:
        metric_type:
          type: string
        threshold_value:
          type: number
        actual_value:
          type: number
        severity:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
        message:
          type: string

    BatchRAGTriadRequest:
      type: object
      required:
        - evaluations
      properties:
        evaluations:
          type: array
          items:
            $ref: '#/components/schemas/RAGTriadEvaluationRequest'
          minItems: 1
          maxItems: 1000
        batch_config:
          $ref: '#/components/schemas/BatchConfig'

    BatchConfig:
      type: object
      properties:
        priority:
          type: string
          enum:
            - low
            - normal
            - high
            - urgent
          default: normal
        callback_url:
          type: string
          format: uri
          description: URL to call when batch is complete
        notification_email:
          type: string
          format: email
        save_results:
          type: boolean
          default: true
        export_format:
          type: string
          enum:
            - json
            - csv
            - parquet
          default: json

    BatchJobResponse:
      type: object
      required:
        - job_id
        - status
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - pending
            - running
            - completed
            - failed
        created_at:
          type: string
          format: date-time
        estimated_completion:
          type: string
          format: date-time
        total_evaluations:
          type: integer
        priority:
          type: string

    CustomMetricsRequest:
      type: object
      required:
        - metric_definitions
        - evaluation_data
      properties:
        metric_definitions:
          type: array
          items:
            $ref: '#/components/schemas/CustomMetricDefinition'
        evaluation_data:
          type: object
          description: Data to evaluate against custom metrics
        config:
          $ref: '#/components/schemas/EvaluationConfig'

    CustomMetricDefinition:
      type: object
      required:
        - name
        - type
        - evaluation_criteria
      properties:
        name:
          type: string
        type:
          type: string
          enum:
            - semantic_similarity
            - coherence
            - completeness
            - accuracy
            - custom
        weight:
          type: number
          minimum: 0
          maximum: 1
          default: 1.0
        evaluation_criteria:
          type: string
          description: Natural language description of evaluation criteria
        threshold_min:
          type: number
        threshold_max:
          type: number

    CustomMetricsResponse:
      type: object
      required:
        - evaluation_id
        - metrics
        - timestamp
      properties:
        evaluation_id:
          type: string
          format: uuid
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/CustomMetricResult'
        overall_score:
          type: number
        timestamp:
          type: string
          format: date-time
        evaluation_time_ms:
          type: number

    CustomMetricResult:
      type: object
      required:
        - name
        - score
      properties:
        name:
          type: string
        score:
          type: number
          minimum: 0
          maximum: 1
        explanation:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        threshold_violation:
          $ref: '#/components/schemas/ThresholdViolation'

    BenchmarkRequest:
      type: object
      required:
        - test_scenarios
      properties:
        test_scenarios:
          type: array
          items:
            $ref: '#/components/schemas/TestScenario'
        benchmark_config:
          $ref: '#/components/schemas/BenchmarkConfig'

    TestScenario:
      type: object
      required:
        - name
        - queries
      properties:
        name:
          type: string
        description:
          type: string
        queries:
          type: array
          items:
            type: string
        expected_response_time_ms:
          type: number
        concurrent_users:
          type: integer
          default: 1
        iterations:
          type: integer
          default: 1

    BenchmarkConfig:
      type: object
      properties:
        include_quality_metrics:
          type: boolean
          default: true
        include_performance_metrics:
          type: boolean
          default: true
        warmup_iterations:
          type: integer
          default: 5
        timeout_seconds:
          type: integer
          default: 300
        save_detailed_results:
          type: boolean
          default: true

    BenchmarkResponse:
      type: object
      required:
        - benchmark_id
        - results
        - summary
      properties:
        benchmark_id:
          type: string
          format: uuid
        results:
          type: array
          items:
            $ref: '#/components/schemas/BenchmarkResult'
        summary:
          $ref: '#/components/schemas/BenchmarkSummary'
        timestamp:
          type: string
          format: date-time
        total_duration_ms:
          type: number

    BenchmarkResult:
      type: object
      required:
        - scenario_name
        - metrics
      properties:
        scenario_name:
          type: string
        metrics:
          type: object
          properties:
            avg_response_time_ms:
              type: number
            p95_response_time_ms:
              type: number
            p99_response_time_ms:
              type: number
            throughput_qps:
              type: number
            error_rate:
              type: number
            avg_quality_score:
              type: number
        iterations:
          type: integer
        successful_iterations:
          type: integer
        failed_iterations:
          type: integer

    BenchmarkSummary:
      type: object
      properties:
        total_scenarios:
          type: integer
        total_queries:
          type: integer
        overall_avg_response_time_ms:
          type: number
        overall_throughput_qps:
          type: number
        overall_quality_score:
          type: number
        recommendations:
          type: array
          items:
            type: string

    QualityThresholdsResponse:
      type: object
      required:
        - thresholds
      properties:
        thresholds:
          type: array
          items:
            $ref: '#/components/schemas/QualityThreshold'
        total:
          type: integer
        page_info:
          $ref: '#/components/schemas/PageInfo'

    CreateQualityThresholdRequest:
      type: object
      required:
        - metric_type
        - threshold_min
        - threshold_max
        - alert_severity
      properties:
        metric_type:
          type: string
        threshold_min:
          type: number
        threshold_max:
          type: number
        alert_severity:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
        search_type:
          type: string
        description:
          type: string
        alert_cooldown_minutes:
          type: integer
          minimum: 1
          default: 60
        is_enabled:
          type: boolean
          default: true

    UpdateQualityThresholdRequest:
      type: object
      properties:
        threshold_min:
          type: number
        threshold_max:
          type: number
        alert_severity:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
        description:
          type: string
        alert_cooldown_minutes:
          type: integer
          minimum: 1
        is_enabled:
          type: boolean

    QualityThresholdResponse:
      type: object
      required:
        - threshold
      properties:
        threshold:
          $ref: '#/components/schemas/QualityThreshold'

    QualityThreshold:
      type: object
      required:
        - id
        - metric_type
        - threshold_min
        - threshold_max
        - alert_severity
        - is_enabled
        - created_at
      properties:
        id:
          type: string
          format: uuid
        metric_type:
          type: string
        threshold_min:
          type: number
        threshold_max:
          type: number
        alert_severity:
          type: string
        search_type:
          type: string
        description:
          type: string
        alert_cooldown_minutes:
          type: integer
        is_enabled:
          type: boolean
        organization_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    BatchJobStatusResponse:
      type: object
      required:
        - job_id
        - status
        - progress
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - pending
            - running
            - completed
            - failed
            - cancelled
        progress:
          $ref: '#/components/schemas/BatchJobProgress'
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        error_message:
          type: string
        results_url:
          type: string

    BatchJobProgress:
      type: object
      required:
        - total_evaluations
        - completed_evaluations
        - percentage
      properties:
        total_evaluations:
          type: integer
        completed_evaluations:
          type: integer
        failed_evaluations:
          type: integer
        percentage:
          type: number
          minimum: 0
          maximum: 100
        estimated_remaining_seconds:
          type: integer

    BatchJobResultsResponse:
      type: object
      required:
        - job_id
        - results
        - summary
      properties:
        job_id:
          type: string
          format: uuid
        results:
          type: array
          items:
            $ref: '#/components/schemas/RAGTriadEvaluationResponse'
        summary:
          $ref: '#/components/schemas/BatchJobResultsSummary'
        page_info:
          $ref: '#/components/schemas/PageInfo'

    BatchJobResultsSummary:
      type: object
      properties:
        total_evaluations:
          type: integer
        successful_evaluations:
          type: integer
        failed_evaluations:
          type: integer
        avg_answer_relevancy:
          type: number
        avg_faithfulness:
          type: number
        avg_contextual_relevancy:
          type: number
        overall_avg_score:
          type: number
        evaluation_time_total_ms:
          type: number

    EvaluationReportsResponse:
      type: object
      required:
        - reports
      properties:
        reports:
          type: array
          items:
            $ref: '#/components/schemas/EvaluationReport'
        total:
          type: integer
        page_info:
          $ref: '#/components/schemas/PageInfo'

    EvaluationReport:
      type: object
      required:
        - id
        - title
        - report_type
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        report_type:
          type: string
          enum:
            - quality_summary
            - performance_analysis
            - trend_analysis
            - comparative_analysis
            - custom
        status:
          type: string
          enum:
            - pending
            - generating
            - completed
            - failed
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        file_size_bytes:
          type: integer
        download_url:
          type: string
        metadata:
          type: object
          additionalProperties: true

    GenerateReportRequest:
      type: object
      required:
        - report_type
        - title
      properties:
        report_type:
          type: string
          enum:
            - quality_summary
            - performance_analysis
            - trend_analysis
            - comparative_analysis
            - custom
        title:
          type: string
        description:
          type: string
        time_range:
          $ref: '#/components/schemas/TimeRange'
        filters:
          type: object
          additionalProperties: true
        format:
          type: string
          enum:
            - pdf
            - excel
            - csv
            - json
          default: pdf
        include_sections:
          type: array
          items:
            type: string
        schedule:
          $ref: '#/components/schemas/ReportSchedule'

    TimeRange:
      type: object
      required:
        - start_time
        - end_time
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time

    ReportSchedule:
      type: object
      properties:
        frequency:
          type: string
          enum:
            - daily
            - weekly
            - monthly
        next_run:
          type: string
          format: date-time
        recipients:
          type: array
          items:
            type: string
            format: email

    ReportGenerationResponse:
      type: object
      required:
        - report_id
        - status
      properties:
        report_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - pending
            - generating
        estimated_completion:
          type: string
          format: date-time

    QualityAlertsResponse:
      type: object
      required:
        - alerts
      properties:
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/QualityAlert'
        total:
          type: integer
        page_info:
          $ref: '#/components/schemas/PageInfo'

    QualityAlert:
      type: object
      required:
        - id
        - title
        - severity
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
        metric_id:
          type: string
        title:
          type: string
        message:
          type: string
        severity:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
        status:
          type: string
          enum:
            - active
            - acknowledged
            - resolved
        created_at:
          type: string
          format: date-time
        acknowledged_at:
          type: string
          format: date-time
        acknowledged_by:
          type: string
        resolved_at:
          type: string
          format: date-time
        organization_id:
          type: string
        metadata:
          type: object
          additionalProperties: true

    AcknowledgeAlertRequest:
      type: object
      required:
        - acknowledged_by
      properties:
        acknowledged_by:
          type: string
          description: User ID acknowledging the alert
        notes:
          type: string
          description: Optional notes about acknowledgment

    QualityAlertResponse:
      type: object
      required:
        - alert
      properties:
        alert:
          $ref: '#/components/schemas/QualityAlert'

    PageInfo:
      type: object
      required:
        - limit
        - offset
        - total
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
        has_next:
          type: boolean
        has_previous:
          type: boolean

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
        request_id:
          type: string
          format: uuid

    ErrorDetail:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: Bad request - invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized - invalid or missing authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Time when rate limit resets (Unix timestamp)

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ServiceUnavailable:
      description: Service temporarily unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

tags:
  - name: Health
    description: Service health and status endpoints
  - name: RAG Metrics
    description: RAG Triad metrics calculation endpoints
  - name: Custom Metrics
    description: Custom evaluation metrics endpoints
  - name: Benchmarking
    description: Performance benchmarking endpoints
  - name: Thresholds
    description: Quality threshold management endpoints
  - name: Jobs
    description: Batch job management endpoints
  - name: Reports
    description: Evaluation report generation and management
  - name: Alerts
    description: Quality alert management endpoints